<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<div class="modal  fade" id="pesquisaRapidaPessoas" tabindex="-1" role="dialog" th:fragment="pesquisaRapidaPessoas" >
 	<div class="modal-dialog">
   		<div class="modal-content">
   			<div class="modal-header">
   				<button type="button" class="close  js-close-pesquisa-rapida" data-dismiss="alert" >&times;</button>
        		<h4 class="modal-title">Pesquisa de pessoas</h4>
      		</div>
      		
   			<div class="modal-body">
   				<div class="alert  alert-danger  alert-dismissible  hidden  js-mensagem-erro-pessoa" role="alert">
					<button type="button" class="close" data-dismiss="alert" ><span aria-hidden="true">&times;</span></button>
					<div><i class="fa  fa-exclamation-circle"></i>Informe pelo menos 3 letras na pesquisa</div>
				</div>
				
   				<form class="form" th:action="@{/pessoas}">
		        	<div class="form-group">
		            	<label class="control-label" for="nomePessoaModal">Nome </label>
	                	<input id="nomePessoaModal" type="text" class="form-control" autofocus="autofocus"/>
		            </div>
		            
		            <button type="submit" class="btn  btn-primary  js-pesquisa-rapida-pessoas-btn">Pesquisar</button>
		            <button type="button" class="btn  btn-default  js-pesquisa-rapida-pessoas-cancelar-btn">Cancelar</button>	
		        </form>
		        
		        <div id="containerTabelaPesquisaRapidaPessoas"></div>
     		</div>
   		</div>
 	</div>
 	<th:block th:replace="hbs/TabelapesquisaRapidaPessoas"></th:block>
</div>
	
</html>